<footer id="footer">
    <!--footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2>
                            <span>e</span>-shopper
                        </h2>
                        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="~/images/home/iframe1.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>circle of hands</p>
                            <h2>24 dec 2014</h2>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="~/images/home/iframe2.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>circle of hands</p>
                            <h2>24 dec 2014</h2>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="~/images/home/iframe3.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>circle of hands</p>
                            <h2>24 dec 2014</h2>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="~/images/home/iframe4.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>circle of hands</p>
                            <h2>24 dec 2014</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="~/images/home/map.png" alt="" />
                        <p>505 s atlantic ave virginia beach, va(virginia)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>service</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#">online help</a>
                            </li>
                            <li>
                                <a href="#">contact us</a>
                            </li>
                            <li>
                                <a href="#">order status</a>
                            </li>
                            <li>
                                <a href="#">change location</a>
                            </li>
                            <li>
                                <a href="#">faq’s</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>quock shop</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#">t-shirt</a>
                            </li>
                            <li>
                                <a href="#">mens</a>
                            </li>
                            <li>
                                <a href="#">womens</a>
                            </li>
                            <li>
                                <a href="#">gift cards</a>
                            </li>
                            <li>
                                <a href="#">shoes</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>policies</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#">terms of use</a>
                            </li>
                            <li>
                                <a href="#">privecy policy</a>
                            </li>
                            <li>
                                <a href="#">refund policy</a>
                            </li>
                            <li>
                                <a href="#">billing system</a>
                            </li>
                            <li>
                                <a href="#">ticket system</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>about shopper</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#">company information</a>
                            </li>
                            <li>
                                <a href="#">careers</a>
                            </li>
                            <li>
                                <a href="#">store location</a>
                            </li>
                            <li>
                                <a href="#">affillate program</a>
                            </li>
                            <li>
                                <a href="#">copyright</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>about shopper</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="your email address" />
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            <p>
                                get the most recent updates from
                                <br />our site and be updated your self...
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">copyright © 2013 e-shopper inc. all rights reserved.</p>
                <p class="pull-right">
                    designed by
                    <span><a target="_blank" href="http://www.themeum.com">themeum</a></span>
                </p>
            </div>
        </div>
    </div>

</footer><!--/footer-->